<div class="question-container">

  <div class="question-header">
    <div class="question-author--no-cover">
      <h4>{{user.username}}</h4>
    </div>
  </div>

  <div class="question-body">
    <div class="question-title">
      <h2><a href="/question/{{id}}">{{title}}</a></h2>
    </div>
    <div class="blog-summary">
      <p>{{question_content}}</p>
  </div>
  <div class="question-footer">
    <ul>
      <li class="published-date">{{created_at}}</li>
      </div>
    </ul>
  </div>
</div>

<script src="/public/javascript/vote.js"></script>