

  <article class="question-article">
    <div class="question-title">
      <h3><a href="/dashboard/questions/{{id}}">{{title}}</a></h3>
    </div>
    <div class="question-body">
    <div class="">
      <p>{{question_content}}</p>
      <div class=""><b>Author:</b> {{user.username}}</div>
      <div class=""><b>Upvotes:</b> {{vote_count}}</div>
      <div class=""><b>Created:</b> {{created_at}}</div>
    </div>
  </div>
  </article>


<script src="/javascript/vote.js"></script>