<div class="question-container">
  <div class="question-body">
    <div class="question-title">
      <h2><a href="/dashboard/questions/{{id}}">{{title}}</a></h2>
    </div>
    <div class="blog-summary">
      <p>{{question_content}}</p>
    </div>

    <div class="question-header">
      <div class="question-author--no-cover">
        <h4 class="username">Username: {{user.username}}</h4>
      </div>
      <div>
        <h4 class="username">Upvotes: {{vote_count}}</h4>
      </div>
    </div>
    <div class="question-footer">
      {{!-- <a class="published-date">{{created_at}}</a>--}}
      <p>{{created_at}}</p>
    </div>
  </div>
</div>

<script src="/public/javascript/vote.js"></script>