<article class="post">
    <div class="title">
        <a href="{{question}}" target="_blank">{{title}}</a>
        <span>{{question}}</span>
    </div>
    <div class="meta">
        {{vote_count}} point(s) by {{user.name}} on
        {{created_at}}
        |
    </div>
</article>