<article class="post">
  <div class="meta">
    <h4>{{question.title}}</h4>
    <p>{{question.question_content}}</p>
    {{question.vote_count}} UpVote(s) by {{question.user.username}}
    <br>
    {{question.created_at}}
    |
    <br>
    <a href="/questions/{{question.id}}">{{question.answers.length}} comment(s)</a>
  </div>
</article>

{{#if loggedIn}}
<form class="answer-form">
  <div>
    <textarea name="answer-body"></textarea>
  </div>

  <div>
    <button type="submit">add answer</button>
    <button type="button" id="upvote-btn" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{#each question.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{question_content}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/answer.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}
